body {
	background:radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
	margin: 0px;
	display: grid;
	background-attachment: fixed;
}

button {
	display: inline-block;
	background-color: dimgrey;
    color: linen;
    opacity: 1;
    width: 200px;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
}

div {
    margin: auto;
}