body {
	background:radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
	margin: 0px;
	display: grid;
	background-attachment: fixed;
}

input[type=text] {
	margin: auto;
	width: 350px;
	height: 100px;
	font-size: 60px;
	overflow:auto;
	font-family: 'Calculator', sans-serif;
}

form {
	margin: auto;
	margin-top: 2%;
}



button {
	display: inline-block;
	background-color: dimgrey;
    color: linen;
    opacity: 1;
	width: 100px;
	height: 100px;
	margin: 2px;
	font-family: 'Calculator', sans-serif;
	font-size: 40px;
}

button:hover, #rowne:hover, #kasowanie:hover {
	opacity: 0.8;
}

p {
	margin: 1px;
}

#przyciski {
	margin:auto;
}

#kasowanie {
	display: inline-block;
	background-color: dimgrey;
    color: linen;
    opacity: 1;
	width: 208px;
	height: 100px;
	margin: 2px;
}